@charset "UTF-8";

body {
}
body {
  background: white;
}

header {
  background-color: #FB9800;
  background-image: url("img/el_rio.png");
  color: #f9e5af;
  font-family: Georgia, Palatino, serif;
  font-size: 60px;
  height: 75px;
  padding: 10px;
}
#footer{
	margin-top: 20%;
	text-align: center; 
	margin-right: 15%;

}

#div{
	float: right; 
	font-size: 1.2em;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    width: 50%;

}
.border{
	border: solid;
	border-radius: 5px;
	padding-left: 20px;
	padding-bottom: 10px;
}
	

h3{
	font-size: 1.5em;
	text-decoration: underline;
}

table {
	width: 25%;
	margin-right: 10%;
}
td{
	text-align: center;

}
#table {
	border-style: solid;
	border-width: 5px;
	border-color: #D3D3D3;
	float: right;

}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: arial,sans-serif;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}