body {
    background: #FFFFF0;
    }

h1{
    font-size: 40px;
    font-family: arial,sans-serif;
    color:#BD4932;
}

.menu_header{
    font-size: 24px;
    font-family: arial,sans-serif;
    color:#BD4932;
    border-style: solid;
    border-color: #105B63;
    border-radius: 10px;
    padding: 5px;
}
.menu_item{
    font-size: 16px;
    font-family: arial,sans-serif;
    color:#BD4932;
}

#restaurant_summary{
    border-style: dotted;
    border-color:  #105B63;
    border-radius: 10px;
    padding: 5px
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #105B63;
  font-family: arial,sans-serif;
}

table {
    border-collapse: collapse;
}

table, th, td, tr{
    border: 2px solid #105B63;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}